section {
  padding: 30px;
}

section h1 {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 2rem;
  font-weight: bold;
  color: var(--red-color);
}

.form-container {
  width: 550px;
  display: flex;
  flex-direction: column;
  justify-content: center;
 
  margin: 0 auto;
}

.form-profile{
    width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    
}

.form-profile input {
  padding: 10px;
  width: 500px;
  border-bottom: 1px solid #ccc;
  outline: none;
  margin-bottom: 1.5rem;
  border-radius: 6px;
}

.form-profile .edit{
    white-space: nowrap;
    width: 495px;
    display: flex;
    justify-content: space-between;
}

.form-profile .edit p span{
    color: var(--red-color);
    font-weight: 600;
    cursor: pointer;
}

.form-profile .edit p:nth-child(2){
    color: var(--blue-color);
    font-weight: 600;
    cursor: pointer;
}

.list-btn{
  background-color: var(--blue-color);
  width: 500px;
  padding: 4px;
  color: white;
  font-size: medium;
  border-radius: 6px;
  align-items: center;
  margin-left: 50px;
}

.list-btn:hover{
  background-color: var(--blue-hover-color);
  transition: 0.3s;
}

.link{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  font-size: 1.2rem;
}

.listing-container{
  max-width: 72rem;
  padding: 15px;
  margin: 0 auto;
}

.listing-container h2{
  font-weight: 500;
  font-size: 2rem;
  color: var(--red-color);
  text-align: center;
  margin-bottom: 3rem;
}
