@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    --red-color:#e02828;
    --red-hover-color:#c41414;
    --blue-color:rgb(124, 124, 250);
    --blue-hover-color:rgb(81, 81, 250);
    --slate-color: slategray;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: url('./assets/abstrate-bg.jpg');
    background-size: cover;
    font-family: 'Montserrat', sans-serif;
}

.swiper-button-next:after,
.swiper-button-prev:after{
    color: var(--slate-color);
    font-weight: 600;
}

.swiper-pagination-progressbar,
.swiper-pagination-progressbar-fill{
    background-color: var(--slate-color) !important;
}
